@charset "UTF-8";

.header-contents {
    display: flex;
    justify-content: space-between;
    width: 1230px;
    margin: auto;
    padding: 40px 15px;
}

.title {
    font-size: 25px;
    margin: 5px;
    line-height: 1.6;
    letter-spacing: 0.1;
}

.title-text {
    font-size: 16px;
    margin: 5px;
    line-height:1.6;
    letter-spacing:0.1;
}

.tel-contents {
    float: right;
}

.tel-box {
    display: flex;
}

.tel-box i {
    margin-right: 5px;
    margin-bottom: 8px;
}

.inquiries {
    background-color: rgb(16,206,221);
    font-size: 14px;
    padding: 8px 12px;
    text-align: center;
    border-radius: 4px;
}

.main-list {
    width: auto;
    background-color: rgb(255,155,154);
    margin-bottom: 10px;
}

.main-list ul {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content:center;
    padding: 12px 16px 2px;
    letter-spacing: 0.1em;
    line-height: 1.6;
}

.main-list li {
    font-size: 14px;
    margin: 0 20px;
    color: white;
    margin-bottom: 3px;
}

.main-list li:first-child {
    border-bottom: 2px solid white;
}

.main-pic {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.main-pic img {
    display: block;
    margin: auto;
}

.main-contents {
    width: 760px;
    padding: 20px 16px;
    margin:auto;
    letter-spacing:0.1em;
    line-heght: 1.6;
}

.main-text {
    font-size:14px;
    margin: 7px 0;
    line-height: 150%;
}

.main-text span {
    margin: 7px 0;
}

.Examination-time h2 {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 27px 0 7px;
    line-height: 1.6;
    font-weight: 700;
}

.Examination-time p {
    line-height: 2em;
    font-size: 14px;
    margin-bottom: 27px;
}

.Examination-time span {
    font-size: 10px;
}

.main-table h2 {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 27px 0 7px;
    line-height: 1.6;
    font-weight: 700;
}

.main-table th,
.main-table td {
    border: 1px solid black;
    text-align: center;
    font-size:14px;
    letter-spacing: 0.1;
    line-height: 1.6;
    vertical-align:middle;
}

.main-table tr:first-child {
    font-weight: bolder;
}

.information-box {
    background-color:rgb(247,247,247);
    width: 100%;
    height: 334px;
    padding: 40px 0;
}

.information-contents {
    width: 760px;
    height: 294px;
    margin: auto;
    padding: 0 16px 40px;
    text-align: center;
}

.information-contents h2 {
    font-size:24px;
    width:100px;
    margin: auto;
    border-bottom: 4px solid rgb(255,155,154);
    padding-bottom: 4px;
    margin-bottom: 40px;
}

.information-contents li {
    font-size: 12px;
    padding: 12px 0;
    border-bottom: 1px dotted rgb(204,204,204);
    width: 214px;
    margin: auto;
    text-align: left;
    color: rgb(63,58,57);
    font-family: 'Montserrat', sans-serif;
}

.information-contents a {
    font-size: 14px;
    margin-left: 8px;
}

.information-contents p {
    color: rgb(16,206,221);
    float: right;
    margin: 0;
}

.introduce-contents {
    width: 760px;
    height: 437px;
    margin: auto;
    margin-bottom: 40px;
    padding: 80px 0 40px;
}

.introduce-contents h2 {
    font-size:24px;
    width:168px;
    margin: auto;
    border-bottom: 4px solid rgb(255,155,154);
    padding-bottom: 4px;
    margin-bottom: 40px;
}

.introduce-contents ul {
    display: flex;
}

.introduce-contents img {
    width: 82%;
    margin: 32px 0;
}

.introduce-contents p {
    display: block;
    color: rgb(16,206,221);
    float: right;
    margin: 100px 0 0 ;
}

.access {
    width: 100%;
    background-color: rgb(247,247,247);
    height: 890px;
    padding-top: 80px;
}

.access-contents {
    width: 760px;
    margin: auto;
    margin-top: 40px;
    padding-top: 80px;
}

.access-box {
    background-color: rgb(247,247,247);
    z-index: 1;
}

.access-contents h2 {
    font-size: 24px;
    width: 95px;
    margin: auto;
    border-bottom: 4px solid rgb(255,155,154);
    padding-bottom: 4px;
    margin-bottom: 40px;
}

.access-contents iframe {
    width: 100%;
}

.access-contents table {
    margin: auto;
    background-color: rgb(255,255,255);
}

.access-contents tr {
    display: flex;
    text-align: center;

}

.access-contents th {
    font-size: 14px;
    float: right;
    width: 152px;
    padding: 20px;
    text-align: right;
}

.access-contents td {
    font-size: 14px;
    float: left;
    width: 408px;
    padding: 20px;
}

.access-contents th,
.access-contents td {
    border-bottom: 1px solid rgb(247,247,247);
    border-top: 1px solid rgb(247,247,247);
}

.back-top {
    font-size: 12px;
    color: white;
    background-color: rgb(16,206,220);
    width: 140px;
    float: right;
    padding: 8px 16px;
    margin: 50px 8% 0 0;
    border-radius: 4px 4px 0 0;
}


.counter {
    width: 100%;
    background-color: rgb(73,73,73);
    height: 20px;
    padding: 20px 0;
    display: flex;
    justify-content:center;
    margin: 0;
    align-items: center;
    letter-spacing: 0.1em;
}

.counter th {
    border-left: 1px solid white;
}

.counter th,
.counter td {
    color: white;
    font-size: 12px;
    padding: 0 4px;
}

.counter th:first-child {
    border-left: none;
}

.footer-logo-box {
    width: 100%;
    padding: 32px 16px;
    margin: auto;
    background-color: rgb(51,51,51);
}

.footer-logo {
    width: 960px;
    margin: auto;
    text-align: center;
}

.footer-logo h2 {
    font-size: 25px;
    color: white;
    margin-bottom: 4px;
}

.footer-logo p {
    font-size: 12px;
    color: white;
}
